.co
{background-color:#efefef;
}

.sz
{width:100%;}

.f
{font-family:Montserrat;
font-weight:light;
font-size:30px;}

.g
{font-family:Montserrat;
font-weight:medium;
font-size:15px;}

.c
{text-align:center;}

.gg
{font-family:Montserrat;
font-weight:light;
font-size:15px;}

.tt
{font-family:Montserrat;
font-weight:medium;
font-size:16px;}

.ff
{font-family:Montserrat;
font-weight:regular;
font-size:30px;
color:#fff;
padding-top:4px;
text-align:center;}


.bo
{border:1px solid #bdbdbd; 
border-radius:2px; 
border-left:4px solid #14a388;}

.bor
{border:1px solid #bdbdbd;
 border-radius:2px;}

.ma
{margin:125px;}

.ma1
{margin:98px;}

.ma2
{margin:55px;}

.ba
{background-color:#14a388;}

.ba1
{background-color:#13bc9c;}

.ba2
{background-color:#425b77;}

.bttn
{background-color:#12d6b0; 
color:#fff;
width:20%;
font-family:Montserrat;
font-weight:regular;
font-size:20px;
}

.ggg
{font-family:Montserrat;
font-weight:light;
font-size:15px;
text-align:right;}

.aa
{display:none;}

/**** Media query****/
 @media only screen and (max-width:768px)

{

.ab
{text-align:center;}

.wid
{width:20%;
text-align:center;}

.ad
{display:block;}

.ae
{display:none;}
